/* YourComponent.css */

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute containers evenly in the row */
  margin-bottom: 20px; /* Add spacing between rows (adjust as needed) */
}

.image-container {
  flex-basis: calc(
    25% - 10px
  ); /* Adjust the width of each container (4 containers in a row) */
  margin-right: 10px; /* Add spacing between containers (adjust as needed) */
  margin-bottom: 10px; /* Add spacing between rows (adjust as needed) */
}

/* Additional styling for the Logo component, if needed */

/* Home.css */

/* Style the entire container */
.container {
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
}

/* Style the logo gallery header */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Style the logo gallery grid */
.logo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns per row */
  gap: 20px; /* Adjust the gap between images as needed */
}

/* Style individual logo items */
.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style the logo images */
.logo-image {
  width: 100%;
  max-width: 200px; /* Adjust the maximum width of images as needed */
  height: auto;
}

/* Style the links below the images */
.logo-link {
  margin-top: 10px;
  text-decoration: none;
  color: #007bff; /* Change the link color as needed */
}

/* Additional styling for specific pages */
.page-content {
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.Home_Headers {
  position: absolute;
  z-index: 1;
}
.Home_categoryselector {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 2;
}
.Home_Category_Div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.Home_Category_Div_Img {
  border-radius: 90%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.Home_Category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
