/* src/components/Navbar.css */

.navbar {
    margin-bottom: -2px;
    margin-top: -19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0px 5px;
  }
  
  .logo {
    
    margin-top: 24px;
    font-weight: bold;
  }
  
  .menu ul {
    flex-direction: row;
    margin-right: 291px;
    text-align: center;
    list-style-type: none;
    display: flex;
    gap: 86px;
  }
  
  .menu li {
    padding: 0;
    margin: 0;
  }
  
  .menu a {
    font-size:24px;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
  }
  
  .menu a:hover {
    color: #f5a623; /* Change the color on hover */
  }
  
  /* Media Query for Responsive Navbar */
  @media (max-width: 768px) {
    .menu ul {
      flex-direction: column; /* Stack items vertically on smaller screens */
      gap: 10px;
    }
  }
  